In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler

In [ ]:
customer = pd.read_csv('marketing_customer_analysis.csv')

# Lab | Customer Analysis Round 4

##### 1. Check the data types of the columns. Get the numeric data into dataframe called numerical and categorical columns in a dataframe called categoricals. (You can use np.number and np.object to select the numerical data types and categorical data types respectively)

In [ ]:
customer.dtypes

In [ ]:
cus_num = customer.select_dtypes(include = np.number)

In [ ]:
cus_cat = customer.select_dtypes(include = np.object)

##### 2. Now we will try to check the normality of the numerical variables visually
##### 2. 1 Use seaborn library to construct distribution plots for the numerical variables

In [ ]:
# Check 1

for col in cus_num:
    sns.displot(cus_num[col])

##### 2.2 Use Matplotlib to construct histograms

In [ ]:
for col in cus_num:
    
    plt.figure(figsize=(8, 5))  
    
    plt.hist(cus_num[col], bins=20)
    
    plt.title(f'Histogram of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

##### 2.3 Do the distributions for different numerical variables look like a normal distribution

In [ ]:
cus_num

In [ ]:
def log_transfom_clean(x):
    x = np.log10(x)
    if np.isfinite(x):
        return x
    else:
        return 0

In [ ]:
for col in cus_num:
    plt.figure(figsize=(7, 4))
    plt.hist(cus_num[col].apply(log_transfom_clean), bins=30)   
    plt.title(f'Histogram of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

In [ ]:
def log_transform_clean2(x):
    x = np.log10(x)
    if np.isfinite(x):
        return x
    else:
        return np.NAN

In [ ]:
for col in cus_num:
    
    cus_num[col] = list(map(log_transform_clean2, cus_num[col]))
    cus_num[col] = cus_num[col].fillna(np.mean(cus_num[col]))
    
    plt.figure(figsize=(7, 4))
    plt.hist(cus_num[col].apply(log_transfom_clean), bins=30)   
    plt.title(f'Histogram of {col}')
    plt.xlabel(col)
    plt.ylabel('Frequency')
    plt.show()

cus_num

I don´t think they could look as normal distributions using the log function. I could cut the values of the total claim amount at 600 but I wouldn´t do that because it provides lot of information. Here is the demonstration:

In [ ]:
sns.boxplot(cus_num['Total Claim Amount'])
plt.show()

In [ ]:
iqr = np.percentile(cus_num['Total Claim Amount'],75) - np.percentile(cus_num['Total Claim Amount'],25)

upper_limit = np.percentile(cus_num['Total Claim Amount'],75) + 1.5*iqr
lower_limit = np.percentile(cus_num['Total Claim Amount'],25) - 1.5*iqr

print(upper_limit)
print(lower_limit)

In [ ]:
cus_claim = cus_num[(cus_num['Total Claim Amount']>lower_limit)&(cus_num['Total Claim Amount']<2500)]
sns.displot(cus_claim['Total Claim Amount'])
plt.show()

In [ ]:
cus_claim['Total Claim Amount'] = list(map(log_transform_clean2, cus_claim['Total Claim Amount']))
cus_claim['Total Claim Amount'] = cus_claim['Total Claim Amount'].fillna(np.mean(cus_claim['Total Claim Amount']))
sns.displot(cus_claim['Total Claim Amount'])
plt.show()

##### 3. For the numerical variables, check the multicollinearity between the features. Please note that we will use the column total_claim_amount later as the target variable.

In [ ]:
# Reset data frame

cus_num = customer.select_dtypes(include = np.number)

In [ ]:
# Multicollinearity is a statistical phenomenon that occurs when two or more independent variables in a regression model are highly correlated with each other.

# We can create a matrix
correlation_matrix = cus_num.corr()
correlation_matrix

In [ ]:
# Or a heatmap

plt.figure(figsize=(8, 6))

sns.heatmap(correlation_matrix, annot=True)
plt.title('Correlation Matrix Heatmap')
plt.show()

The values are not very correlated in general.

Looking at the Total Claim Amount, we can say that is quite correlated to the Monthly Premium Auto. The Customer Lifetime Value provides some information with a coefficient of correlation of 0.23.

Also, the income coefficient tells us about a negative correlation, which means that the Total Claim Amount gets higher when the Income amount goes lower.

##### 4. Drop one of the two features that show a high correlation between them (greater than 0.9). Write code for both the correlation matrix and for seaborn heatmap. If there is no pair of features that have a high correlation, then do not drop any features

I´m going to drop the values with very little correlation.

In [ ]:
cus_corr = cus_num.drop(['Months Since Last Claim', 'Months Since Policy Inception', 'Number of Open Complaints', 'Number of Policies'], axis=1)
cus_corr

In [ ]:
correlation_matrix2 = cus_corr.corr()
correlation_matrix2

In [ ]:
plt.figure(figsize=(4, 3))
sns.heatmap(correlation_matrix2, annot=True)
plt.title('Correlation Matrix Heatmap 2')
plt.show()

# Lab | Customer Analysis Round 5

### Processing Data

##### 1. Further processing

I will compare the target value against the most correlated one, the Monthly Premium Auto.

In [ ]:
cus_num = customer.select_dtypes(include = np.number)

y = cus_num['Total Claim Amount']
X = cus_num[['Monthly Premium Auto']]

lm = linear_model.LinearRegression()
lm.fit(X,y)

regression_line = lm.intercept_ + lm.coef_[0]*cus_num['Monthly Premium Auto']

plt.plot(cus_num['Monthly Premium Auto'], regression_line, c = 'orange')
sns.scatterplot(x='Monthly Premium Auto',y='Total Claim Amount',data=cus_num)
plt.show()

I´ll check the R2-score

In [ ]:
print("R2-score is ", lm.score(X,y))
print("mean squared error (MSE) is ", mean_squared_error(lm.predict(X),y))

The R2-socre indicates the model does not explain very well the variance in the target variable.
Also, we can see by the MSE that the model's predictions are not very close to the true values.

##### 2. X-y split.

Already done above

##### 3. Normalize (numerical).

In [ ]:
y = cus_num['Total Claim Amount']
X = cus_num.drop(['Total Claim Amount'], axis=1)

X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)

transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)
x_normalized

cus_nor = pd.DataFrame(x_normalized, columns=X_num.columns)

# Lab | Customer Analysis Round 6

### Befor starting - Cells I have to run from previous labs

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler

In [20]:
customer = pd.read_csv('marketing_customer_analysis.csv')
cus_num = customer.select_dtypes(include = np.number)
cus_cat = customer.select_dtypes(include = np.object)
y = cus_num['Total Claim Amount']
X = cus_num.drop(['Total Claim Amount'], axis=1)
X_num = X.select_dtypes(include = np.number)
X_cat = X.select_dtypes(include = object)
transformer = MinMaxScaler().fit(X_num)
x_normalized = transformer.transform(X_num)
cus_nor = pd.DataFrame(x_normalized, columns=X_num.columns)
cus_nor.describe()

C:\Users\PC\AppData\Local\Temp\ipykernel_15672\3843852013.py:3: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cus_cat = customer.select_dtypes(include = np.object)

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,0.074999,0.376645,0.135946,0.431343,0.485501,0.076878,0.245771
std,0.084382,0.303857,0.145181,0.287807,0.281879,0.182077,0.298773
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.025744,0.000000,0.029536,0.171429,0.242424,0.000000,0.000000
50%,0.047677,0.338959,0.092827,0.400000,0.484848,0.000000,0.125000
75%,0.086754,0.623318,0.202532,0.657143,0.717172,0.000000,0.375000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Processing Data - Deciding the Method

In [4]:
cus_cat.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [17]:
for col in cus_cat:
    print(cus_cat[col].value_counts())

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64
California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64
No     7826
Yes    1308
Name: Response, dtype: int64
Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64
Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64
1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64
Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64
F    4658
M    4476
Name: Gender, dtype: int64
Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64
Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64
Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64
Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64
Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64
Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64
Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

### Processing Data - OneHot Encoding

In [60]:
# cus_one = cus_cat.drop(['Customer', 'State', 'Effective To Date', 'EmploymentStatus', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Vehicle Class'], axis=1)
cus_one = cus_cat.drop(['Customer', 'Effective To Date'], axis=1)
encoder = OneHotEncoder(drop='first').fit(cus_one)
encoded = encoder.transform(cus_one).toarray()

# for col in cus_one:
    # onehot_encoded = pd.DataFrame(encoded,columns=[cus_one[col].unique()])

onehot_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
# onehot_encoded = pd.DataFrame(encoded,columns=['Female', 'Male','U'])
onehot_encoded.head()

,State_California,State_Nevada,State_Oregon,State_Washington,Response_Yes,Coverage_Extended,Coverage_Premium,Education_College,Education_Doctor,Education_High School or Below,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Processing Data - Columns excluded in the model

I´m going to exclude the Customer identification and the effective dat as I don´t consider them valuable information for the model.

### Processing Data - Concatenate

In [62]:
customer2 = pd.concat([cus_nor, onehot_encoded], axis=1)
customer2

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,State_California,State_Nevada,State_Oregon,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0.264137,0.719547,0.050633,0.514286,0.898990,0.0,0.125,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9130,0.014719,0.216081,0.075949,0.400000,0.282828,0.0,0.000,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,0.076951,0.000000,0.101266,0.257143,0.373737,0.6,0.125,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,0.069098,0.219452,0.147679,0.971429,0.030303,0.0,0.250,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9133,0.008766,0.000000,0.067511,0.085714,0.909091,0.0,0.000,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

### Linear Regression - Train-test split

In [83]:
y = customer['Total Claim Amount']
X = customer2
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

### Linear Regression - Apply linear regression

In [84]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

0.7720997625577384

### Model Validation - R2

In [85]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

0.7755406231400148

### Model Validation - MSE

In [80]:
predictions_test = lm.predict(X_test)
mse=mean_squared_error(y_test,predictions_test)
mse

21599.94173742175

### Model Validation - RMSE

In [86]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse

132.59262309867847

### Model Validation - MAE

In [90]:
mae = mean_absolute_error(y_test,predictions_test)
mae

92.95809244096847

# Lab | Customer Analysis Round 7

### Reset variables

In [91]:
# customer = pd.read_csv('marketing_customer_analysis.csv')
cus_num = customer.select_dtypes(include = np.number)
# cus_cat = customer.select_dtypes(include = np.object)
y = cus_num['Total Claim Amount']
X = cus_num.drop(['Total Claim Amount'], axis=1)
# X_num = X.select_dtypes(include = np.number)
# X_cat = X.select_dtypes(include = object)
# transformer = MinMaxScaler().fit(X_num)
# x_normalized = transformer.transform(X_num)
# cus_nor = pd.DataFrame(x_normalized, columns=X_num.columns)
# cus_nor.describe()
# cus_one = cus_cat.drop(['Customer', 'Effective To Date'], axis=1)
# encoder = OneHotEncoder(drop='first').fit(cus_one)
# encoded = encoder.transform(cus_one).toarray()
onehot_encoded = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
# customer2 = pd.concat([cus_nor, onehot_encoded], axis=1)
# lm = linear_model.LinearRegression()
# predictions = lm.predict(X_train)
# predictions_test = lm.predict(X_test)

### StandardScaler

In [97]:
Standardtransformer = StandardScaler().fit(cus_num)
X_standardized = Standardtransformer.transform(cus_num)

cus_std = pd.DataFrame(X_standardized,columns=cus_num.columns)
cus_std

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.422250,-0.822648,-0.169640
1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.422250,2.106160,2.400737
2,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.422250,-0.404247,0.455734
3,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.422250,1.687759,0.329769
4,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.422250,-0.822648,-1.018843
...,...,...,...,...,...,...,...,...
9129,2.241590,1.128558,-0.587666,0.288205,1.466984,-0.422250,-0.404247,-0.811934
9130,-0.714411,-0.528450,-0.413278,-0.108908,-0.719046,-0.422250,-0.822648,-0.188956
9131,0.023135,-1.239617,-0.238891,-0.605299,-0.396517,2.873245,-0.404247,1.227937
9132,-0.069935,-0.517356,0.080820,1.876656,-1.614960,-0.422250,0.014154,0.885113
9133,-0.784955,-1.239617,-0.471408,-1.200968,1.502821,-0.422250,-0.822648,-0.222004

In [99]:
customer3 = pd.concat([cus_std, onehot_encoded], axis=1)
customer3

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,State_California,State_Nevada,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.422250,-0.822648,-0.169640,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.422250,2.106160,2.400737,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.422250,-0.404247,0.455734,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.422250,1.687759,0.329769,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.422250,-0.822648,-1.018843,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,2.241590,1.128558,-0.587666,0.288205,1.466984,-0.422250,-0.404247,-0.811934,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9130,-0.714411,-0.528450,-0.413278,-0.108908,-0.719046,-0.422250,-0.822648,-0.188956,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9131,0.023135,-1.239617,-0.238891,-0.605299,-0.396517,2.873245,-0.404247,1.227937,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9132,-0.069935,-0.517356,0.080820,1.876656,-1.614960,-0.422250,0.014154,0.885113,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9133,-0.784955,-1.239617,-0.471408,-1.200968,1.502821,-0.422250,-0.822648,-0.222004,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [101]:
y = customer['Total Claim Amount']
X = customer3

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

predictions = lm.predict(X_train)
r2_score(y_train, predictions)

1.0